/* ******* commons ******* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
#full-body {
    background-color: rgb(246, 248, 249);
    padding-top: 50px;
    padding-bottom: 100px;

}
/* ******* fine commons ******* */

/* ******* header ******* */
header {
    height: 100px;
    padding: 15px;
}
#image {
    height: 60px;
    vertical-align: middle;

}
header h1 {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}

/* ******* fine Header ******* */

/* ******* main ******* */
.container {
    margin: auto;
    width: 60%;
}

.sezione {
    margin-top: 5px;
    background-color: white;
    padding: 20px 50px 10px;
    border-radius: 10px;
}

/* ******* bottoni ******* */
.btn {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.blue {
    color: white;
    background-color: RGB(71,173,241);
    border: 2px RGB(71,173,241) solid;

}
.grey {
    color: RGB(197,203,208);
    border: 2px RGB(197,203,208) solid;
}

.part {
    margin-top: 10px;
    margin-bottom: 40px;
}
/* ******* titolo sezioni ******* */
.title {
    background-color: white;

}
.symbol {
    height: 3px;
    display: inline-block;

}
.section-title {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}

/* ******* Element ******* */

.element {
    margin-top: 15px;
}
.ck {
    display: inline-block;
    width: 23px;
    border: 1px solid;
    text-align: center;
    border-radius: 50%;
    
}
.gree {
    border-color: green;
    color: green;
}
.red {
    border-color: red;
    color: red;
}
.element-title {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;

}
.quad {
    display: inline-block;
    color: white;
    padding: 6px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 10px;
}
.blu {
    background-color: RGB(71,173,241);
}

.purple {
    background-color: RGB(156,114,228);
}
.green {
    background-color: rgb(100, 192, 169);
}
.orange {
    background-color: RGB(242,158,51);
}

.white {
    background-color: white;
}

.fucsia {
    background-color: rgb(216, 99, 161);
}

.oliva {
    background-color: rgb(176, 201, 38);
}
/* ******* fine main ******* */